<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SamodelkinSendEmail.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- В этой секции определяется конфигурация ведения журнала для My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Раскомментируйте следующую секцию для записи в журнал событий приложения -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Раскомментируйте следующую секцию и замените APPLICATION_NAME на имя своего приложения для записи в журнал событий приложения -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <SamodelkinSendEmail.My.MySettings>
            <setting name="pEmail" serializeAs="String">
                <value>info@samodelkin59.ru</value>
            </setting>
            <setting name="pPassword" serializeAs="String">
                <value>Samodelkin2018</value>
            </setting>
            <setting name="pSmtpServer" serializeAs="String">
                <value>smtp.yandex.ru</value>
            </setting>
            <setting name="pSmtpPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="pNameSender" serializeAs="String">
                <value>ТК Самоделкин</value>
            </setting>
            <setting name="pEnableSsl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pSubject" serializeAs="String">
                <value>Рассылка</value>
            </setting>
            <setting name="pFileOfBody" serializeAs="String">
                <value />
            </setting>
        </SamodelkinSendEmail.My.MySettings>
    </userSettings>
</configuration>
